/* fuentes 

colores
#253779 azul 
#F8EBF2 rosita
#FBDFEB rosa
#EDC8C8 rosa oscuro 
#192241 AZUL 
#1A2242 AZUL 
#B7ACA3 BEIGE
#2E3976 AZUL 

ORDEN:
DISPLAY
ALTO Y ANCHO
POSICIONAMIENTO DE LOS ELEMENTOS
BOX-MODELING
DECLARAR COLORES
font-family: 'Montserrat', sans-serif;
font-family: "Champagne & Limousines V1";


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*border: 1px solid red (para marcar que elementos desboordan)*/

body {
    background-color: #F8EBF2;
}

/*HEADER------------------*/
header {
    background-color: #192241;
    width: 100%;
    height: 10%;
}

.cabecera ul {
    display: flex;
    flex-direction: row;
}

.cabecera a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}


/*SECCION DEL LOGO------------------*/
.sectionLogo {
    width: 100%;
    height: 20%;
    background-color: #192241;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sectionLogo h1 {
    text-align: center;
    color: #B7ACA3;
    text-decoration: none;
    font-size: 2.5rem;
    letter-spacing: .625rem;
    font-family: 'Montserrat', sans-serif;

}

/*SECCION DEL MENU ------------------*/
.sectionMenu {
    background-color: #edbdbd;
    border-color: #EDC8C8;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .625rem    ;
    text-align: center;
}

.sectionMenu a {
    color: #253779;
    font-size: 2.1875rem
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*SECCION DE PROMOCIONES-----------------*/

.sectionPromo h1 {
    color: #253779;
    font-size: 3.125rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .25rem;
    text-align: center;
}

.sectionPromo p {

    color: #253779;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contienePromos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #EDC8C8 solid;
}



.botonPromo {
    background-color: #EDC8C8;

}

.botonPromo a {
    color: #192241;
    font-size: .625rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*SECCION TRATAMIENTO------------------*/

.sectionTratamiento h1 {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #B7ACA3;
    color: #192241;
    font-size: 3.125rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .25rem;
    text-align: center;
}

.videoPrincipalTratamiento {
    display: grid;
    place-items: center;
    height: 100vh;
    object-fit: contain;
}

.contieneTratamientos {
    display: flex;
    flex-direction: row;
}

.tratamientoHombre img {
    margin-top: 10px;
}

.tratamientoMujer img {
    margin-top: 10px;

}

.tratamientoMujer {
    background-color: #FBDFEB;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 40px 10px 40px;

}

.tratamientoHombre {
    background-color: #253779;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.botonTratamientoM {
    background-color: #253779;
    width: 25%;
}

.botonTratamientoH {
    background-color: #EDC8C8;
    width: 25%;
}

.botonTratamientoM a {
    text-decoration: none;
    color: #EDC8C8;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.botonTratamientoH a {
    text-decoration: none;
    color: #192241;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}


/*FOOTER-----------------*/
footer {
    background-color: #192241;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sectionRedes a {
    color: white;
    font-size: 1.125rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sectionContacto a {
    color: white;
    font-size: 1.125rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sectionRedes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.contieneArticulos {
    background-color: #192241;
    display: grid;
    grid-template-columns: repeat(4, 1f);
    grid-template-rows: repeat(3, 1f);
    grid-template-areas:
        "articulo1 articulo2 "
        "articulo1 articulo2 "
        "articulo3 articulo4 "
        "articulo3 articulo4 "
        "articulo5 articulo4 "
        "articulo5 articulo4 ";
    row-gap: 20px;
    column-gap: 10px;
    margin: 10px 20px 10px 20px;
    align-content: center;

}

.articulo1 {
    background-color: #192241;
    grid-area: articulo1;
    display: flex;
    align-items: center;
}

.articulo2 {
    background-color: #192241;
    grid-area: articulo2;
    display: flex;
    align-items: center;
}

.articulo3 {
    background-color: #192241;
    grid-area: articulo3;
    display: flex;
    align-items: center;
}

.articulo4 {
    background-color: #192241;
    grid-area: articulo4;
    display: flex;
    align-items: center;

}

.articulo5 {
    background-color: #192241;
    grid-area: articulo5;
    display: flex;
    align-items: center;
}

.contieneArticulos img {
    width: 60%;
}

.contieneArticulos p {
    font-family: 'Montserrat', sans-serif;
    color: #FBDFEB;
    font-size: 1.875rem;
    width: 90%;

}

.contieneArticulos h3 {
    font-family: 'Montserrat', sans-serif;
    color: #edbdbd;
    font-size: 2.8125rem;
    display: flex;
    justify-content: center;
}

/*tecnologia----*/
.videoTecno video {
    width: 10%;
    height: 20%;
}

.lista {
    width: 30%;
    background-color: #192241;
    display: flex;
    flex-direction: column;
}

.lista h2 {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: #edbdbd;
    font-size: .9375rem;

}

.lista ul li {
    font-family: 'Montserrat', sans-serif;
    color: #B7ACA3;
    font-size: .9375rem;
}

.comenzar a {
    background-color: #EDC8C8;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #192241;
    font-size: 1.875rem;
}

/*tecnologia----*/
.sectionFondo {
    width: 100%;
    height: 50%;
    background-image: url(../assets/images/descarga.jpg);
    background-position: left;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.parrafo p {
    font-family: 'Montserrat', sans-serif;
    color: #253779;
    font-size: 1.25rem;
    background-color: #bab5b2;
}

.parrafo {
    padding: 10px 10px 10px 10px;
    width: 40%;
    height: 20%;
}

.segundaTecno {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.segundaVideo video {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.segundaTexto p {
    font-family: 'Montserrat', sans-serif;
    color: #253779;
    font-size: 1.25rem;
}

.segundaTexto {
    width: 80%;
    display: flex;
    flex-direction: row;

}


/*LOGIN----*/
.inicia h1 {
    font-family: 'Montserrat', sans-serif;
    color: #253779;
    font-size: 2.1875rem;
}

.inicia {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.inicia a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #253779;
    background-color: #edbdbd;
    font-size: 1.5625rem;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.ingresa {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #253779;
    background-color: #edbdbd;
    font-size: 1.5625rem;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.controls {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(215, 211, 211);
    padding: 10px;
    border: rgba(215, 211, 211, 0.614);
}

.formulario {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.iniciaRegistro {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniciaRegistro h1 {
    font-family: 'Montserrat', sans-serif;
    color: #253779;
    font-size: 2.1875rem;
}

.iniciaRegistro p {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: #192241;
    font-size: .9375rem;
    background-color: #edbdbd;
    margin-top: 3%;
}

.iniciaRegistro a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #253779;
    background-color: #edbdbd;
    font-size: 1.5625rem;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*REGISTRO---*/

.datos{
    display: flex;
    align-items: center;
}
.registrate h1 {
    font-family: 'Montserrat', sans-serif;
    color: #253779;
    font-size: 2.1875rem;
    text-align: center;
}

.controlR {
    margin-top: 10%;
    background-color: rgb(215, 211, 211);
    padding: 10px;
    padding-left: 50px;
    border: rgba(215, 211, 211, 0.614);
}
.sectionDos {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirmar {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #253779;
    background-color: #edbdbd;
    font-size: 1.5625rem;
    border: none;
}
.botones a {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #253779;
    background-color: #edbdbd;
    font-size: 1.5625rem;
}

.terminosY {
    width: 30%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminosY a {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: .9375rem;
}

.sectionPromo h3 {
    color: #192241;
    font-size: 2.5rem;
    font-style: none;
    font-family: "Champagne & Limousines V1";
    text-align: center;
    margin: 20px;
}


/*MEDIA QUERY 375 -*/
@media (max-width: 375px) {
    
    .contieneArticulos {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contieneArticulos h3{
        font-size: 1.25rem;
    }
    .contieneArticulos p{
        font-size: .9375rem;
    }

    .contieneArticulos img{
        width: 30%;
    }
    
    
      /*header--*/

    .cabecera ul {
        display: flex;
        flex-direction: column;
    }
  /*main--*/
    .sectionLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .sectionMenu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
    }
    
    .contienePromos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo {
        width: 80%;
    }

    .contieneTratamientos {
        display: flex;
        flex-direction: column;
    }

    .tratamientoHombre {
        background-color: #192241;
        width: 100%;
    }

    .botonTratamientoM {
        background-color: #253779;
        width: 50%;
    }

    .tratamientoMujer {
        background-color: #FBDFEB;
        width: 100%;
    }

    .botonTratamientoH {
        background-color: #253779;
        width: 50%;
    }

    .botonTratamientoM a {
        text-decoration: none;
        color: #EDC8C8;
        font-size: 15px;
    }

    .botonTratamientoH a {
        text-decoration: none;
        color: #192241;
        font-size: 15px;
    }

    /*FOOOTER-*/


    .footer {
        width: 100%;
    }

    .logoFooter img {
        width: 50%;

    }

    .sectionContacto div a img {
        width: 10%;
    }

    .sectionContacto a {
        text-align: center;
      

    }

    .sectionRedes a {
        font-size: 8px;
        text-align: center;
    }

    .sectionRedes div a img {
        width: 10%;

    }

}
/*MEDIA QUERY 425 -*/
@media (max-width: 425px){
    .contieneArticulos {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contieneArticulos h3{
        font-size: 1.25rem;
    }
    .contieneArticulos p{
        font-size: .9375rem;
    }

    .contieneArticulos img{
        width: 40%;
    }
   
    /*header*/
    .cabecera a {
        font-size: 10px;
    }

    .cabecera ul {
        display: flex;
        flex-direction: column;
    }
/*Main*/
    .sectionLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectionLogo h1 {
        font-size: 12px;
    }

    .sectionMenu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
    }

    .sectionMenu a {
        font-size: 10px;
    }
    .sectionPromo h1 {
        font-size: 25px;
    }

    .sectionPromo p {
        font-size: 12px;
    }

    .contienePromos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promo img{
        display: flex;
        justify-content: center;
    }
    
    .sectionTratamiento h1 {
        font-size: 25px;
    }

    .contieneTratamientos {
        display: flex;
        flex-direction: column;
    }

    .tratamientoHombre {
        background-color: #192241;
        width: 100%;
    }

    .botonTratamientoM {
        background-color: #253779;
        width: 50%;
    }

    .tratamientoMujer {
        background-color: #FBDFEB;
        width: 100%;
    }

    .botonTratamientoH {
        background-color: #253779;
        width: 50%;
    }

    .botonTratamientoM a {
        text-decoration: none;
        color: #EDC8C8;
        font-size: 15px;
    }

    .botonTratamientoH a {
        text-decoration: none;
        color: #192241;
        font-size: 15px;
    }
   /*FOOOTER-*/


   .footer {
    width: 100%;
}

.logoFooter img {
    width: 50%;

}

.sectionContacto div a img {
    width: 10%;
}

.sectionContacto a {
    text-align: center;
    font-size: 8px;

}

.sectionRedes a {
    font-size: 8px;
    text-align: center;
}

.sectionRedes div a img {
    width: 10%;

}
   
    
}
/*MEDIA QUERY 768 -*/
@media (max-width: 768px){
    .contieneArticulos {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contieneArticulos h3{
        font-size: 1.25rem;
    }
    .contieneArticulos p{
        font-size: .9375rem;
    }

    .contieneArticulos img{
        width: 40%;
    }
    .cabecera a {
        font-size: 10px;
    }

    .cabecera ul {
        display: flex;
        flex-direction: column;
    }

    .sectionLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectionLogo h1 {
        font-size: 12px;
    }

    .sectionMenu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
    }

    .sectionMenu a {
        font-size: 10px;
    }
    .sectionPromo h1 {
        font-size: 25px;
    }

    .sectionPromo p {
        font-size: 12px;
    }

    .contienePromos {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .promo img{
        display: flex;
        justify-content: center;
    }
    
    .sectionTratamiento h1 {
        font-size: 25px;
    }

    .contieneTratamientos {
        display: flex;
        flex-direction: column;
    }

    .tratamientoHombre {
        background-color: #192241;
        width: 100%;
    }

    .botonTratamientoM {
        background-color: #253779;
        width: 50%;
    }

    .tratamientoMujer {
        background-color: #FBDFEB;
        width: 100%;
    }

    .botonTratamientoH {
        background-color: #253779;
        width: 50%;
    }

    .botonTratamientoM a {
        text-decoration: none;
        color: #EDC8C8;
        font-size: 15px;
    }

    .botonTratamientoH a {
        text-decoration: none;
        color: #192241;
        font-size: 15px;
    }
}

